body {
   background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX2qjX_bAlFQC_fB1-n82gLyZpwPoFNvBbqw&usqp=CAU);
   height: 100vh;
   /* background-repeat: no-repeat;
   background-size: cover; */
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}

.weather-box {
   text-align: center;
   width: 500px;
   border: 3px solid rgb(232, 185, 225);
   border-radius: 30px;
   background-color: rgb(232, 185, 225);
   padding: 50px;
   margin-bottom: 5px;
}

.weather-button button {
   border-color: rgb(241, 241, 165);
   background-color: rgb(241, 241, 165);
   margin: 0 2px;
}
